/* --------
    RESET
-------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------
    COMMON
--------- */
body{
    background: linear-gradient(180deg, #009688 20%, #DADBD4 10%);
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;    
}

img{
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.container{
    max-width: 1280px;
    height: 90vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
}

header{
    height: 70px;
    display: flex;
    background-color: #eaeaea;
}

ul{
    list-style: none;
}
i{
    color: #b1b1b1;
    padding: 10px;
}

/* -------
    HEADER
    ---- */
    .col-left, .col-myUser{    
    width: 35%;  
  }  

  .col-right{    
    width: 65%; 
    display: flex;
    flex-direction: column;  
  }

  .col-myUser, .col-otherUser{
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .col-avatar{
    width: calc(100% / 2);
    display: flex;   
  }
  .name-myUser, .last-access{
    margin: auto 10px;
  }

  .col-icons{
    display: flex;
    margin: auto 0;
  }

  .col-otherUser{
    width: 65%; 
  }

  .last-access{
    color: #b1b1b1;
  }


  /* -------
    MAIN
    ------ */
    main{
        display: flex;
        height: calc(100% - 70px);
    }

  .area-message{
    width: 100%;
    flex-grow: 1;
    border: dashed black;
  }

  .area-text{
    width: 100%;
    height: 70px;
    border: dashed black;
  }

  /* -------
    DEBUG-HEADER
    ------- */
    .debug{
        border: dashed black;
        height: 100%;
    }
