/* --------
    RESET
-------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------
    COMMON
--------- */
body{
    background: linear-gradient(180deg, #009688 20%, #DADBD4 10%);
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;    
}

img{
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.container{
    max-width: 1280px;
    height: 90vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
}

header{
    height: 70px;
    display: flex;
    background-color: #eaeaea;
}

ul{
    list-style: none;
}
li{
    list-style: none;
}
i{
    color: #b1b1b1;
    padding: 10px;
}

/* -------
    HEADER
    ---- */
    .col-left, .col-myUser{    
    width: 35%;  
  }  

  .col-right{    
    width: 65%; 
    display: flex;
    flex-direction: column;  
  }

  .col-myUser, .col-otherUser{
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  .col-avatar{
    width: 80%;
    display: flex;   
  }
  .name-myUser, .last-access, .text-notification{
    margin: auto 10px;
  }

  .col-icons{
    display: flex;
    margin: auto 0;
  }

  .col-otherUser{
    width: 65%; 
  }

  .last-access{
    color: #b1b1b1;
  }
  


  /* -------
    MAIN
    ------ */
    main{
        display: flex;
        height: calc(100% - 70px);
    }

  .area-message{
    width: 100%;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
  }

  .area-text{
    width: 100%;
    height: 70px;
    background-color: #f3eeea;
    display: flex;
  }

  .col-small{
    width: 15%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-small i{
    font-size: 20px;
    color: gray;
  }

  .col-center{
    width: 70%;
    display: flex;
    align-items: center;
  }

  .col-center input {
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 15px;
    margin: 0 20px;
}

  .notification{
    display: flex;
    background-color: #8edafc;
    padding: 25px
  }

  a{
    color: gray;
  }

  .circle{
    border-radius: 50%;
    background-color: white;
  }

  .circle i{
    color: #8edafc;
  }

  aside{
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
  }
  
  .search {
    display: flex;
    padding: 10px;
    background-color: #fafafa;
  }

  .search i{
    background-color: white;
    border-radius: 5px;
  }
  .fa-magnifying-glass{
    margin-right: 5px;
  }

  .search input{
    border-radius: 5px;
    width: 100%;
    border: none;
    padding-left: 10px;
  }

  .column-contact{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .contact{
    height: calc(100% / 8);
    display: flex;
    padding: 5px 10px
  }

  .contact.col-avatar{
    height: 100%;
    padding: 5px;
    width: 80%;
  }

  .last-message{
    margin: auto 10px;
    color: #b1b1b1;
  }

  .name-user{
    margin: 5px 10px;
  }

  .hour small{
    color: gray;
    

  }

  .hour{
    display: flex;
    width: 20%;
    padding: 5px;
    justify-content: end;
  }

  /* AREA MESSAGE */
  
  
